<% @passages.each do |passage| %>
  <section>
    <div class="wrapper hidden">  
      <a href="#" class="next" style="font-size: <%= passage['font_size']%>">
        <%= passage["words"] %>
      </a>
    </div>
    
    <a href="#" class="arrow next hidden beckon">
      <i class="fa <%= choose_icon(passage) %>" aria-hidden="true"></i>
    </a>
  </section>
<% end %>