<article class="alliterator">
  <div class="wrapper">  
    <a class="hidden" href="/">Again?</a>
    <input index="0" type="text" placeholder="Alliterate a Name" autofocus>
    <p class="hidden"><span>word</span></p>
  </div>
</article>