<!DOCTYPE html>
<html>
<head>
  <title>POARTLRAINSDHOA</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="alliterator.js"></script>
  <script>
    const ANNIVERSARY_PATH = "<%= ANNIVERSARY_PATH %>"
  </script>
  <script src="main.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>