body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: helvetica, sans-serif;
  position: relative;
  top: 0; }
  body.final {
    overflow: hidden; }
    body.final a {
      pointer-events: none;
      font-size: 12vw; }
    body.final .background {
      opacity: .5;
      top: 0; }

.alliterator {
  height: 100vh;
  background: #333333;
  font-size: 8vw;
  overflow: hidden;
  position: relative; }
  .alliterator .wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
  .alliterator a {
    color: #7f5959;
    text-decoration: none;
    display: block;
    padding: 0px;
    opacity: 1;
    transition: all .5s ease .5s;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 15vw;
    width: 75vw;
    text-align: center;
    border-bottom: 1px solid #cccccc; }
    .alliterator a:hover {
      color: #b27d7d; }
    .alliterator a.hidden {
      opacity: 0;
      pointer-events: none; }
  .alliterator input {
    background: #333333;
    font-size: 8vw;
    border: none;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    height: 15vw;
    color: white;
    outline: none;
    opacity: 1;
    padding: 0;
    transition: all .5s ease;
    display: block;
    width: 75vw; }
    .alliterator input.hidden {
      opacity: 0;
      transform: translate(0, 15vw); }
  .alliterator p {
    color: #cccccc;
    height: 0;
    margin: 0;
    opacity: 1;
    transition: all .5s ease .5s;
    text-transform: capitalize;
    height: 15vw; }
    .alliterator p.hidden {
      opacity: 0; }
  .alliterator span {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }

section {
  position: relative;
  font-size: 92px;
  height: 100vh;
  padding: 0 2vw; }
  section .background {
    position: absolute;
    top: -5vh;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    background-image: url("pic.jpg");
    background-size: cover;
    background-position: center top;
    transition: all 1s ease .5s; }
  section .wrapper {
    transition: all .5s ease;
    opacity: 1;
    top: 50vh;
    position: relative; }
    section .wrapper.hidden {
      opacity: 0;
      top: 45vh; }
  section a {
    text-decoration: none;
    display: inline-block;
    transition: transform 1s ease;
    z-index: 2;
    position: relative; }
    section a.arrow {
      position: absolute;
      bottom: 10px;
      transform: translate(-50%, -1vh);
      opacity: 1; }
      section a.arrow.hidden {
        opacity: 0; }
    section a.passage {
      display: block;
      transform: translate(0, -50%); }
  section:nth-child(odd) {
    background-color: white;
    text-shadow: 1px 1px 2px #b27d7d; }
    section:nth-child(odd) a {
      color: #7f5959; }
      section:nth-child(odd) a:hover {
        color: #7f5959; }
  section:nth-child(even) {
    background-color: #333333;
    text-shadow: 1px 1px 2px #333333; }
    section:nth-child(even) a {
      color: white; }
      section:nth-child(even) a:hover {
        color: #cccccc; }
