@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
body {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 0;
  background-color: #333333;
  transition: background-color 1s ease;
  overflow-x: hidden; }
  body.before-final section:first-child a {
    font-size: 12vw;
    font-family: "Satisfy", cursive; }
  body.after-final {
    background-color: #CCFFD4; }

.alliterator {
  height: 100vh;
  background: #333333;
  font-family: "Raleway", sans-serif;
  font-size: 8vw;
  overflow: hidden;
  position: relative; }
  .alliterator .wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
  .alliterator a {
    color: #7f5959;
    text-decoration: none;
    display: block;
    padding: 0px;
    opacity: 1;
    transition: all .5s ease .5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 15vw;
    width: 75vw;
    text-align: center;
    border-bottom: 1px solid #cccccc; }
    .alliterator a:hover {
      color: #b27d7d; }
    .alliterator a.hidden {
      opacity: 0;
      pointer-events: none; }
  .alliterator input {
    background: #333333;
    font-family: "Raleway", sans-serif;
    font-size: 8vw;
    border: none;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    height: 15vw;
    color: #f2fff1;
    outline: none;
    opacity: 1;
    padding: 0;
    transition: all .5s ease;
    display: block;
    width: 75vw; }
    .alliterator input.hidden {
      opacity: 0;
      transform: translate(0, 15vw); }
  .alliterator p {
    color: #cccccc;
    height: 0;
    margin: 0;
    opacity: 1;
    transition: all .5s ease .5s;
    text-transform: capitalize;
    height: 15vw; }
    .alliterator p.hidden {
      opacity: 0; }
  .alliterator span {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }

section {
  font-family: "Courgette", cursive;
  position: relative;
  font-size: 92px;
  height: 100vh;
  padding: 0 2vw;
  transition: transform 0.6s ease-in-out;
  overflow: visible;
  z-index: 10000; }
  section .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center top;
    transition: all 1s ease .75s;
    transform: scale(1);
    background-clip: border-box; }
  section .wrapper {
    transition: all .75s ease;
    opacity: 1;
    transform: translateY(50vh);
    position: relative;
    z-index: 1; }
    section .wrapper.hidden {
      opacity: 0;
      transform: translateY(45vh); }
  section a {
    text-decoration: none;
    display: inline-block;
    transition: transform .75s ease, color .5s ease;
    z-index: 3;
    position: relative; }
    section a.arrow {
      position: absolute;
      bottom: 10px;
      transform: translate(-50%, -1vh);
      opacity: 1; }
      section a.arrow.hidden {
        opacity: 0;
        transform: translate(-50%, 5vh); }
    section a.passage {
      display: block;
      transform: translate(0, -50%); }
  section:nth-child(odd) {
    text-shadow: 3px 3px 3px black; }
    section:nth-child(odd) .background {
      opacity: 1;
      transform: rotate(10deg);
      border: 10px solid white;
      outline: 1px solid #333333; }
      section:nth-child(odd) .background.hidden {
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(1.5); }
    section:nth-child(odd) a {
      color: #f2fff1; }
      section:nth-child(odd) a:hover {
        color: #cccccc; }
  section:nth-child(even) {
    text-shadow: 3px 3px 3px black; }
    section:nth-child(even) .background {
      opacity: 1;
      transform: rotate(-10deg);
      border: 10px solid white;
      outline: 1px solid #333333; }
      section:nth-child(even) .background.hidden {
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(1.5); }
    section:nth-child(even) a {
      color: #f2fff1; }
      section:nth-child(even) a:hover {
        color: #cccccc; }
