@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

$gray: #333;
$light_gray: #ccc;
$white: #F2FFF1;
$light_green: #BEFFD8;
$red: #7F5959;
$light_red: #B27D7D;
$alliterator_font_size: 8vw;
$font_alliterator: 'Raleway', sans-serif;
$font_sans_serif: 'Courgette', cursive;
$font_final: 'Satisfy', cursive;

body {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 0;
  background-color: $gray;
  transition: background-color 1s ease;
  overflow-x: hidden;

  // hack to get around weird final transition
  &.before-final {
    section:first-child {
      a {
        font-size: 12vw;
        font-family: $font_final;
        // pointer-events: none;
      }
    }
  }

  &.after-final {
    background-color: #CCFFD4;
  }
}

.alliterator {
  // padding: 250px 0 400px;
  // height: 150%;
  height: 100vh;
  background: $gray;
  font-family: $font_alliterator;
  font-size: $alliterator_font_size;
  overflow: hidden;
  position: relative;

  .wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  a {
    color: $red;
    text-decoration: none;
    display: block;
    padding: 0px;
    opacity: 1;
    transition: all .5s ease .5s;
    position: absolute;
    // top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 15vw;
    width: 75vw;
    text-align: center;
    border-bottom: 1px solid $light_gray;

    &:hover {
      color: $light_red;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  input {
    background: $gray;
    font-family: $font_alliterator;
    font-size: $alliterator_font_size;
    border: none;
    border-bottom: 1px solid $light_gray;
    display: inline-block;
    height: 15vw;
    color: $white;
    outline: none;
    opacity: 1;
    padding: 0;
    transition: all .5s ease;
    display: block;
    width: 75vw;

    &.hidden {
      opacity: 0;
      transform: translate(0, 15vw)
    }
  }

  p {
    color: $light_gray;
    height: 0;
    margin: 0;
    opacity: 1;
    transition: all .5s ease .5s;
    text-transform: capitalize;
    height: 15vw;

    &.hidden {
      opacity: 0;
    }
  }

  span {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}

section {
  font-family: $font_sans_serif;
  position: relative;
  font-size: 92px;
  height: 100vh;
  padding: 0 2vw;
  transition: transform 0.6s ease-in-out;
  // overflow-x: hidden;
  // overflow-y: visible;
  overflow: visible;
  z-index: 10000;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center top;
    transition: all 1s ease .75s;
    // top: 0;
    transform: scale(1);
    background-clip: border-box;
  }

  .wrapper {
    transition: all .75s ease;
    opacity: 1;
    transform: translateY(50vh);
    position: relative;
    z-index: 1;

    &.hidden {
      opacity: 0;
      transform: translateY(45vh);
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    transition: transform .75s ease, color .5s ease;
    z-index: 3;
    position: relative;

    &.arrow {
      position: absolute;
      bottom: 10px;
      transform: translate(-50%, -1vh);
      opacity: 1;


      &.hidden {
        opacity: 0;
        transform: translate(-50%, 5vh);
      }
    }

    &.passage {
      display: block;
      transform: translate(0, -50%);
    }
  } 

  &:nth-child(odd) {
    // background-color: $white;
    // text-shadow: 1px 1px 2px #666;
    // background-color: $gray;
    text-shadow: 3px 3px 3px black;

    .background {
      // opacity: .45;
      opacity: 1;
      transform: rotate(10deg);
      // border: 15px solid black;
      // outline: 2px solid $light_gray;
      border: 10px solid white;
      outline: 1px solid $gray;

      &.hidden {
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(1.5);
      }
    }

    a { 
      // color: $red;
      color: $white;

      &:hover {
        // color: $light_red;
        color: $light_gray;
      }
    }
  }

  &:nth-child(even) {
    // background-color: $gray;
    text-shadow: 3px 3px 3px black;

    .background {
      // opacity: .3;
      opacity: 1;
      transform: rotate(-10deg);
      border: 10px solid white;
      outline: 1px solid $gray;

      &.hidden {
        opacity: 0;
        transform: rotate(0deg);
        transform: scale(1.5);
      }
    }

    a { 
      color: $white;

      &:hover {
        color: $light_gray;
      }
    }
  }
}